/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333333;
    padding: 20px;
  }
  
  h1 {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Hero Section Styles */
  .hero {
    background-image: url('path/to/hero-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    color: #ffffff;
  }
  
  h2 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    color: orange;
  }
  
  p {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    color: green;
  }
  
  .button {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  /* Features Section Styles */
  .features {
    padding: 50px;
    text-align: center;
  }
  
  .feature {
    margin-bottom: 40px;
  }
  
  img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333333;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    color: #ffffff;
    font-size: 12px;
    margin: 0;
  }
  /* MEDIA QUERIES */
/* @media media-type (media-feature) {
 
} */
/* media types
a. all - for all screens
b. screen - devices with screen
C. print - works only for print preview
d. speech - screen readers
*/
@media screen and (min-width: 576px) {
    h1 {
        color: #fffb00;
        font-size: 15px;
        margin: 10px;
    }

}

@media screen and (min-width: 768px) {
    h1 {
        color: #00fffb;
        font-size: 20px;
        margin: 5px;
    }
    
    }